.btn{
    display: inline-block;
    padding: 20px;
    background-color: rgb(65, 98, 243);
    color: #fff;
    border-radius: 10px;

    /* transition-property: background-color, padding;
    transition-duration: 500ms, 1s;
    transition-delay: 100ms;
    transition-timing-function: ease; */

    transition: background-color 500ms ease, padding 800ms ease;
}

.btn:hover{
    background-color: blue;
    padding-left: 30px;
    padding-right: 30px;
}