.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    background-color: gray;
    height: 400px;
    color: white;
}

.r1{
    order: 3;
    /*flex-shrink: 0;*/
    flex-grow: 1;
    background-color: red;
}

.r2{
    order: 2;
    flex-grow: 1;
    background-color: blue;
}

.r3{
    order: 1;
    flex-grow: 1;
    background-color: green;
}

.rect{
    
    height: 100px;
}