@keyframes changeColor{
    from {background-color: red;}
    to{background-color: blue;}

    0% {background-color: red; width: 100px;}
    25% {background-color: green;}
    50% {background-color: yellow; width: 400px;}
    100% {background-color: blue; width: 100px;}
 }
/* @keyframes move{
    0% {left: 0px;}
    100% {left: 300px;}
} */

.box{
    position: relative;
    width: 200px;
    height: 200px;
    border-style: solid;
    /* animation-name: changeColor;
    animation-duration: 6s; */
    /*animation-delay: 1s;*/
    /*animation-iteration-count: infinite;*/
    /*animation-direction: alternate;*/
    /* animation-fill-mode: both; */
    animation: changeColor 6s linear 1s infinite alternate both;

}

.div1{
    animation-timing-function: linear;
}

.div2{
    animation-timing-function: ease;
}

.div3{
    animation-timing-function: ease-in;
}

.div4{
    animation-timing-function: ease-out;
}

.div5{
    animation-timing-function: ease-in-out;
}